S3method(plot,codebook)
S3method(plot,ksplines)
export(best_split)
export(cksplines)
export(feature_ksplines)
export(get_basis)
export(get_smoothness_penalty)
export(ksplines)
export(ksplines_merge)
export(ksplines_multi_merge)
export(ksplines_reorder)
export(ksplines_sort)
export(ksplines_split)
export(ksplines_unmerge)
export(make_ksplines_counts)
export(merge_clusters)
export(merge_step)
export(num_feasible)
export(plot_curves)
export(plot_ksplines)
export(plot_triple)
export(sample_curves)
export(score_merge)
export(sksplines)
export(smksplines)
export(split_step)
import(ggplot2)
import(gridExtra)
import(orthogonalsplinebasis)
import(plyr)
import(splines)
