S3method(plot,codebook)
S3method(plot,ksplines)
export(feature_ksplines)
export(get_basis)
export(get_smoothness_penalty)
export(ksplines)
export(sample_curves)
import(ggplot2)
import(orthogonalsplinebasis)
import(plyr)
import(splines)
